/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
    /* Fix layout/scrolling issues with tabs */
    height: 100%;
    width: 100%;
    position: relative;
}
.m .select-wrapper + label {
    /* The positioning for dropdown labels is messed up */
    transform: none !important;
}

label > i[title] {
    /* Display the help cursor for the tooltip icons and fix their positioning */
    cursor: help;
    margin-left: 0.25em;
}

.dropdown-content {
    /* Don't wrap text in dropdowns */
    white-space: nowrap;
}

/* Add your styles here */
/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

#dialog-room-edit {
    max-height: 95% !important;
    max-width: 85% !important;
    width: 80% !important;
    height: 90% !important;
    overflow: visible !important;
    top: 10px !important;
}

#dialog-select-member {
    max-height: 95% !important;
    max-width: 85% !important;
    width: 80% !important;
    height: 90% !important;
    overflow: visible !important;
    top: 10px !important;
}

.collapsible-body {
    margin-left: 2rem !important;
    padding-top: 0 !important;
}

redlabel {
    color: red;
}

/* Add your styles here */

.polled {
	height: 100px !important;
}

.adapter-body {
	overflow: hidden !important;
}
